html, body {
  margin: 0;
  height: 100%;
  overflow: hidden; }

/* unvisited link */
a:link {
  color: #FF0;
}

/* visited link */
a:visited {
    color: #DD0;
}

/* mouse over link */
a:hover {
    color: #FF0;
}

/* selected link */
a:active {
    color: #FF0;
}

#container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1; }

#map {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  cursor:pointer;
  background-color: transparent;
}
#map-buffer {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: transparent;
}

@media (min-width: 800px) {
#message-container {
  display: none;
  background-color: rgba(255, 0, 0, 0.75);
  color: #fff;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index:300;
  padding: 10px;
  line-height:1.3em;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 20px;
}
}

@media (max-width: 799px) {
#message-container {
  display: none;
  background-color:rgba(255, 0, 0, 0.75);
  color: #fff;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index:300;
  padding: 10px;
  line-height:1.3em;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 16px;
}
}

@media (min-width: 800px) {
#label-container {
  display: none;
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 40px;
  left: 40px;
  min-height: 80px;
  max-width: 55%;
  padding: 10px;
  line-height: 1.3em;
  color: #fff;
  text-shadow: 0px 0px 4px #000;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 35px;
  border-radius: 6px;
}

#location {
  line-height:1.3em;
  font-size: 20px;
}

#controls {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 40px;
  right: 40px;
  width: 48px;
  height: 244px;
  z-index:300;
  color: #fff;
  text-shadow: 0px 0px 4px #000;
  border-radius: 6px;
}
}

@media (max-width: 799px) {
  #label-container {
    display: none;
    z-index:300;
    background-color:rgba(0, 0, 0, 0.3);
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    min-height: 32px;
    padding: 8px;
    line-height:1.3em;
    color:#fff;
    text-shadow:0px 0px 4px #000;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 20px;
  }

  #location {
    line-height:1.3em;
    font-size: 16px;
  }

  #controls {
    display: none;
    background-color:rgba(0, 0, 0, 0.3);
    position:absolute;
    top:100px;
    right:0px;
    height: 244px;
    width: 48px;
    z-index:300;
    color:#fff;
    text-shadow:0px 0px 4px #000;
    border-radius: 6px;
  }
}

.my-control {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  cursor:pointer;
}

.my-control i {
  line-height: inherit;
}


#info-overlay {
  overflow-y: auto;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
  background:rgba(0,0,0,0.75);
  display:none;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

#welcome-overlay {
  overflow-y: auto;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
  background:rgba(0,0,0,0.75);
  display:block;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

#search-overlay {
  overflow-y: auto;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
  background:rgba(0,0,0,0.75);
  display:none;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

@media (min-width: 800px) {
#info-overlay div {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 60%;
  color: white;
  text-shadow:0px 0px 4px #000;
  font-size: 16px;
}

#info-overlay h2 {
  font-size: 24px;
  font-weight: bold;
}

#welcome-overlay div {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 60%;
  color: white;
  text-shadow:0px 0px 4px #000;
  font-size: 24px;
}

#welcome-overlay h1 {
  font-size: 36px;
  font-weight: bold;
}

#search-overlay-content {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 60%;
  color: white;
  text-shadow:0px 0px 4px #000;
  font-size: 26px;
}

#search-overlay input {
  width: 100%;
  min-height: 48px;
  font-size: 26px;
}

#search-overlay-buttons {
  width: 100%;
  margin-top: 48px;
}

#search-overlay-search {
  position: absolute;
  left: 0px;
  width: 45%;
}

#search-overlay-close {
  position: absolute;
  right: 0px;
  width: 45%;
}

.my-btn {
  display: inline-block;
  padding: 10px 16px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  border-radius: 6px;
}
}

@media (max-width: 799px) {
  #info-overlay div {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    color: white;
    text-shadow:0px 0px 4px #000;
    font-size: 10px;
  }

  #info-overlay h2 {
    font-size: 16px;
    font-weight: bold;
  }
  
  #welcome-overlay div {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    color: white;
    text-shadow:0px 0px 4px #000;
    font-size: 10px;
  }

  #welcome-overlay h1 {
    font-size: 16px;
    font-weight: bold;
  }

#search-overlay-content {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  color: white;
  text-shadow:0px 0px 4px #000;
  font-size: 16px;
}

#search-overlay input {
  width: 100%;
  min-height: 20px;
  font-size: 16px;
}

#search-overlay-buttons {
  width: 100%;
  margin-top: 16px;
}

#search-overlay-search {
  position: absolute;
  left: 0px;
  width: 45%;
}

#search-overlay-close {
  position: absolute;
  right: 0px;
  width: 45%;
}

  .my-btn {
    display: inline-block;
    padding: 10px 16px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    border-radius: 6px;
  }
}
